@titleColor: #556270;
@lightGrey: #c2c2c2;

body {
	background-color: #f8f8f8;
	font-size: 16px;
	font-weight: 300;
}

#page {
	max-width: 750px;
	margin-bottom: 70px;
}

.post-content {
	h1 {
		color: @titleColor;
		font-size: 1.7em;
	}
	h2 {
		color: #333;
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.2em;
	}
}

h2 {
	color: @titleColor;
	a, a:hover {
		color: @titleColor;
		text-decoration: none;
	}
}

.caption {
	margin-bottom: 30px;
}

.topbar {
	margin-top: 20px;
	border-bottom: solid 1px @lightGrey;

	@media (min-width: 768px) {
		margin-bottom: 70px;
		padding-bottom: 70px;
	}

	h1 {
		font-size: 1.9em;
		margin: 0;
		font-variant: small-caps;
		color: @titleColor;
		a, a:hover {
			color: @titleColor;
			text-decoration: none;
		}
	}
}

.navbar-toggle {
	margin-top: 0;
	font-size: 1.5em;
	color: #333;
}

.navbar-nav > li > a {
	line-height: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #333;
	@media (max-width: 768px) {
		margin-left: 30px;
	}
}

.fa {
	padding-top: 4px;
}

.navbar-toggle {
	padding: 0;
	color: @titleColor;
}

.comments {
	margin-top: 30px;
	padding-top: 10px;
	border-top: 1px solid @lightGrey;
}

.post-excerpt {
	padding-bottom: 30px;
	border-bottom: 1px solid @lightGrey;
}