<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Vincent Durmont</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/vdurmont.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/prism-hopscotch.css"
    />
  </head>
  <body>
    <div class="page">
      <h1 class="title"><a href="/">Vincent Durmont</a></h1>
      {{ content }}
    </div>
  </body>
</html>
