<div class="sidebar">
	<div class="sidebar-container">
		<div class="sidebar-about">
			<h1><a href="/">Vincent DURMONT</a></h1>
			<div class="sidebar-about-description">
				<p>Software architect &amp; developer</p>
			</div>
		</div>
		<div class="sidebar-menu">
			<ul>
				<li><a href="/"><i class="fa fa-home"></i><span class="sidebar-menu-label">Home</span></a></li>
				<li><a href="/projects"><i class="fa fa-inbox"></i><span class="sidebar-menu-label">Projects</span></a></li>
				<li><a href="https://twitter.com/vdurmont"><i class="fa fa-twitter"></i><span class="sidebar-menu-label">@vdurmont</span></a></li>
				<li><a href="https://github.com/vdurmont"><i class="fa fa-github"></i><span class="sidebar-menu-label">vdurmont</span></a></li>
				<li><a href="https://linkedin.com/in/vdurmont"><i class="fa fa-linkedin"></i><span class="sidebar-menu-label">vdurmont</span></a></li>
				<li><a href="/rss/posts.xml"><i class="fa fa-rss"></i><span class="sidebar-menu-label">RSS</span></a></li>
			</ul>
		</div>
	</div>
</div>
