<div class="sidebar">
	<div class="sidebar-about">
		<h1><a href="/">Vincent DURMONT</a></h1>
		<p class="lead">Software architect &amp; developer</p>
		<p>Backend engineer at <a href="http://mindie.co">Mindie</a></p>
	</div>
	<div class="sidebar-links">
		<p><i class="fa fa-user"></i> <a href="/about">About</a></p>
		<p><i class="fa fa-twitter"></i> <a href="https://twitter.com/dvins">@Dvins</a></p>
		<p><i class="fa fa-github"></i> <a href="https://github.com/vdurmont">vdurmont</a></p>
		<p><i class="fa fa-linkedin"></i> <a href="http://linkedin.com/in/vdurmont/">vdurmont</a></p>
		<p><i class="fa fa-rss"></i> <a href="/rss/posts.xml">RSS</a></p>
	</div>
</div>