@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface);
/************************************
GLOBAL VARIABLES AND RESETS
************************************/
html {
  font-size: 20px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}
body {
  margin: 0;
  background-color: #fff;
}
/************************************
SIDEBAR
************************************/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16rem;
  background-color: #ac4142;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1023px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 10rem;
    width: auto;
  }
}
.sidebar-container {
  padding: 2rem 1rem;
}
.sidebar a,
.sidebar a:hover {
  color: #fff;
  text-decoration: none;
}
/* about section */
.sidebar-about h1 {
  margin-top: 0;
  font-size: 2.5rem;
  font-family: "Abril Fatface", serif;
  color: #fff;
}
.sidebar-about p a {
  text-decoration: underline;
}
@media screen and (max-width: 1023px) {
  .sidebar-about {
    display: block;
  }
  .sidebar-about h1 {
    margin-bottom: 0;
  }
  .sidebar-about-description {
    display: none;
  }
}
/* links section */
/* Menu */
.sidebar-menu {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}
.sidebar-menu ul {
  padding: 0;
}
.sidebar-menu li {
  list-style: none;
}
.sidebar-menu .fa {
  margin-right: 1.2rem;
}
.sidebar-menu a {
  color: rgba(255, 255, 255, 0.5);
}
.sidebar-menu a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1023px) {
  .sidebar-menu {
    display: block;
    font-size: 2rem;
  }
  .sidebar-menu ul {
    position: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0;
    text-align: center;
  }
  .sidebar-menu li {
    display: inline-block;
  }
  .sidebar-menu-label {
    display: none;
  }
}
/************************************
CONTENT
************************************/
/* Container */
.content {
  margin-left: 19rem;
  margin-right: 4rem;
  padding: 0 2rem;
}
@media screen and (max-width: 1023px) {
  .content {
    margin-top: 12rem;
    margin-right: 0;
    margin-left: 0;
  }
}
.content a {
  color: #ac4142;
}
.content a:hover {
  text-decoration: none;
}
.post-container {
  margin: 3rem 0;
}
/* Pages headers */
.page-title,
.page-subtitle {
  margin: 0;
  color: #ac4142;
}
.page-subtitle {
  font-size: 1.2rem;
}
.page-title,
.page-title a {
  font-size: 2.5rem;
  text-decoration: none;
}
.page-title a:hover {
  text-decoration: underline;
}
/* Comments */
.comments {
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 1px solid #ac4142;
}
/************************************
MIXINS
************************************/
/************************************
UTILITIES
************************************/
/* Buttons */
.btn-container {
  margin: 2rem 0;
}
.btn,
a.btn {
  padding: 0.8rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 0.9em;
  background-color: #ac4142;
  color: #fff;
  text-decoration: none;
}
.content img {
  display: block;
  max-width: 100%;
  margin: auto;
}
/* Code */
pre {
  display: block;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f0f0f0;
  font-size: 0.7rem;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
@media screen and (max-width: 1023px) {
  pre {
    font-size: 0.9rem;
  }
}
code {
  padding: 2px;
  display: inline-block;
  border: 1px solid #e1e1e1;
  font-size: 0.9rem;
  background-color: #f0f0f0;
}
