<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Vincent Durmont</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet/less" type="text/css" href="/vdurmont.less" />
	</head>
	<body>
		<div id="page" class="container">
			<nav class="navbar topbar" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-menu">
						<span class="glyphicon glyphicon-th"></span>
					</button>
					<h1><a href="/">Vincent Durmont</a></h1>
				</div>
				<div class="collapse navbar-collapse navbar-right" id="collapse-menu">
					<ul class="nav navbar-nav">
						<li><a href="/"><span class="glyphicon glyphicon-list-alt"></span> Blog</a></li>
						<li><a href="/about"><span class="glyphicon glyphicon-user"></span> About</a></li>
						<li><a href="https://github.com/vdurmont"><i class="fa fa-github-alt"></i> Github</a></li>
					</ul>
				</div>
			</nav>
			<div id="content">
				{{ content }}
			</div>
		</div>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
	</body>
</html>