---
layout: default
---

<div class="btn-container">
	<a href="/" class="btn">Back to posts</a>
</div>
<article>
	<header>
		<h1 class="page-title">{{ page.title }}</h1>
		<p class="page-subtitle">{{ page.date | date:"%B %d, %Y" }}</p>
	</header>
	<div class="post-content" style="max-width: 750px;">
		{{ content }}
	</div>
	<footer class="comments">
		Want to react? Get in touch on Twitter: <a href="http://twitter.com/vdurmont">@vdurmont</a><br />
		Subscribe to my <a href="/rss/posts.xml">RSS feed</a>
	</footer>
</article>
